@import "tailwindcss";

@layer base {
  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  header, footer, button {
    display: none !important;
  }
}
